default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: meal_plan_development

test:
  <<: *default
  database: meal_plan_test

production:
  <<: *default
  database: meal_plan_production
  username: meal_plan
  password: <%= ENV['MEAL_PLAN_DATABASE_PASSWORD'] %>
